$headerBgImg: url("../img/header_background_v2.jpg") no-repeat top/cover;
$headerTextColor: #ff5722;
$BgColor: #efefef;
$mainFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$brandColor: #0401ac;
$articleBgColor: #ffffff;
$articleTitleColor: #607d8b;
$articleTextColor: #757575;
$borderColor: #cfd8dc;
$buttonTextColor: #efefef;
$titleTextColor: #757575;
$descriptionColor: #bdbdc3;