$headerBgImg: url("../img/header_background_v1.jpg") no-repeat top/cover;
$headerTextColor: #ffffff;
$BgColor: #ffffff;
$mainFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$brandColor: #01acac;
$articleBgColor: #efefef;
$articleTitleColor: #01acac;
$articleTextColor: #000000;
$borderColor: #607d8b;
$buttonTextColor: #ffffff;
$titleTextColor: #000000;
$descriptionColor: #e90303;